/* 640, 360 */

.page-template{
	-fx-min-width: 1280;
	-fx-min-height: 720;
	-fx-pref-width: 1280;
	-fx-pref-height: 720;
	-fx-max-width: 1280;
	-fx-max-height: 720;

	-fx-background-color: #131315;
}

.input-bar{
	-fx-font-size: 26px;
	-fx-font-weight: normal;
	-fx-text-fill: white;

	-fx-pref-width: 350;
	-fx-pref-height: 50;
	-fx-background-color: #131315;

	/* border : ... right bottom left */
	/* -fx-border-style: solid none none none; */
	-fx-border-width: 3px;
	-fx-border-color: #131315 #131315 #0399D8 #131315;
}

.btn-login{
	-fx-font-size: 22px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-alignment: center;

	-fx-pref-width: 150;
	-fx-pref-height: 46;
	
	-fx-background-color: #2275A0;
	-fx-background-radius: 20px;
}

.incorrect{
	-fx-font-size: 26px;
	-fx-font-weight: normal;
	-fx-text-fill: #C1192A;

	-fx-pref-width: 350;
	-fx-pref-height: 50;
	-fx-background-color: #131315;
}